APP_NAME=Collaboard
PORT=4000
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=project-cloud-alb-1946039121.ap-southeast-2.elb.amazonaws.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

DB_CONNECTION=mysql
DB_HOST=project-cloud-rds.chg8umso6933.ap-southeast-2.rds.amazonaws.com
DB_PORT=3306
DB_DATABASE=collaboard
DB_USERNAME=admin
DB_PASSWORD=Admin12345!

JWT_SECRET=secret
